<style>
*{
  text-decoration: none;
  margin: 0px;
}
h4{
  text-align:right;
  padding: 20px;
  margin: 0px;
  color:gray;
  border-bottom: 1px solid black;
}
h1{
  font-size:50px;
  padding: 30px;
}
</style>
